body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #5C5552;
}

header {
    background-color: #C8A2C8;
    color: white;
    padding: 20px;
    text-align: right;
}

.logo-link {
    text-decoration: none; 
    color: white; 
}

.logo-link:hover, .logo-link:focus {
    text-decoration: none;
    color: white;
}


.header-content h1 {
    margin: 0;
}

.how-it-works {
    text-align: center;
    padding: 30px 0;
}

.steps .step {
    margin-bottom: 30px;
}

.bg-purple {
    background-color: #C8A2C8;
}

.number-circle {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    padding: 15px;
    background: #C8A2C8; 
    color: white; 
    border: 2px solid #C8A2C8; 
    text-align: center;
    font-size: 22px;
    line-height: 30px;
    margin: auto;
}

.step p {
    font-size: 16px;
}

.upload-instructions {
    margin-bottom: 30px;
}

.small-text {
    font-size: 14px; 
    color: #6c757d; 
}

.input-file {
    display: none; 
}

.upload-btn {
    background-color: #C8A2C8; 
    border-color: #C8A2C8; 
}

#file-chosen {
    display: block;
    margin-top: 10px;
}

.instructions p {
    margin-bottom: 30px;
}

.dish-option {
    display: block;
    margin: 10px auto;
    color: #C8A2C8; 
    transition: color 0.3s ease;
}

.dish-option:hover {
    color: #5C5552; 
    text-decoration: none; 
}

.small-text {
    font-size: 14px;
}

.try-again-link {
    color: #5C5552; 
    text-decoration: underline; 
}

.recipe-source-link {
    color: #C8A2C8; 
    display: block; 
    margin: 10px 0; 
    text-decoration: none; 
}

.recipe-source-link:hover {
    color: #C8A2C8;
    text-decoration: underline; 
}

.regenerate-link:hover {
    color: #C8A2C8;
    text-decoration: underline;
}

.recipe-source-link:nth-child(1) { font-size: 18px; }
.recipe-source-link:nth-child(2) { font-size: 16px; }
.recipe-source-link:nth-child(3) { font-size: 14px; }
.recipe-source-link:nth-child(4) { font-size: 12px; }
.recipe-source-link:nth-child(5) { font-size: 10px; }

.regenerate-link {
    color: #6c757d;
    text-decoration: underline; 
}

.ingredients-container {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%; 
}

.ingredients-list {
    list-style-type: disc;
    padding-left: 20px; 
}

.ingredients-list li {
    margin-bottom: 5px; 
}

.source-text a {
    text-decoration: none; 
    color: #5C5552; 
}

.source-text a:hover {
    text-decoration: underline;
}

.btn-try-again {
    color: #FFFFFF; 
    background-color: #C8A2C8; 
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none; 
    display: inline-block; 
    margin-top: 20px; 
}

.btn-try-again:hover {
    color: #FFFFFF;
    background-color: #A283A2; 
    text-decoration: none; 
}

.btn-sustainable {
    display: inline-block;
    background-color: #C8A2C8; 
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none; 
    transition: background-color 0.3s ease; 
}

.btn-sustainable:hover {
    color: #FFFFFF;
    background-color: #A283A2;
    text-decoration: none; 
}