<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>platemate</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header class="bg-purple text-white text-right p-3">
        <div class="container">
            <a href="{{ url_for('index') }}" class="logo-link">
                <h1 class="m-0">platemate</h1>
            </a>
        </div>
    </header>

    <main class="py-5">
        <div class="container">
            <section class="how-it-works text-center">
                <h2>How It Works</h2>
                <div class="row justify-content-center mt-4">
                    <div class="col-6 col-md-2 step mb-4">
                        <div class="number-circle">1</div>
                        <p class="mt-2">Upload a picture of your dish!</p>
                    </div>
                    <div class="col-6 col-md-2 step mb-4">
                        <div class="number-circle">2</div>
                        <p class="mt-2">We'll show you the dishes we found.</p>
                    </div>
                    <div class="col-6 col-md-2 step mb-4">
                        <div class="number-circle">3</div>
                        <p class="mt-2">Pick the recipe source.</p>
                    </div>
                    <div class="col-6 col-md-2 step mb-4">
                        <div class="number-circle">4</div>
                        <p class="mt-2">Take note, screenshot, or do whatever you want with the ingredients!</p>
                    </div>
                    <div class="col-6 col-md-2 step mb-4">
                        <div class="number-circle">5</div>
                        <p class="mt-2">Sustainability? Here are some tips for storing leftovers!</p>
                    </div>
                </div>
                <a href="{{ url_for('upload_image') }}" class="btn btn-secondary mt-3">Let's begin</a>
            </section>
        </div>
    </main>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
